body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  background: url("https://img.freepik.com/free-vector/glowing-musical-pentagram-background-with-sound-notes_1017-31220.jpg") no-repeat
    center center/cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .app{
  content: "";
  /* background: url("./img/istockphoto-music.jpeg") no-repeat
    center center/cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
} */

.user-auth{
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
  margin-left: 1rem;
}

.music {
  display: block;
  /* background-color: #313131; */
  display: block;
  margin: 0px auto;
  padding: 50px;
  border-radius: 16px;
  /* box-shadow: inset -6px -6px 12px rgba(0, 0, 0, 0.8), inset 6px 6px 12px rgba(255, 255, 255, 0.4); */
}

.music > h4 {
  color: #FFF;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
}

.music > p {
  color: #AAA;
  font-size: 14px;
  text-align: center;
  font-weight: 600;
}

.music > p span {
  font-weight: 400;
}

.music--details .details-img {
  position: relative;
  width: fit-content;
  margin: 0 auto;
}

.music--details .details-img img {
  display: block;
  margin: 50px auto;
  width: 100%;
  max-width: 250px;
  border-radius: 50%;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.8), -6px -6px 12px rgba(255, 255, 255, 0.4);
}

.music--details .details-img:after {
  content: '';
  display: block;
  position: absolute;
  top: -25px;
  left: -25px;
  right: -25px;
  bottom: -25px;
  border-radius: 50%;
  border: 3px dashed rgba(255, 206, 0, 1);
}

.music--details .details-title {
  color: #EEE;
  font-size: 28px;
  text-align: center;
  margin-bottom: 10px;
}

.music--details .details-artist {
  color: #AAA;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.music--controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.music--controls .play-btn {
  display: flex;
  margin: 0 30px;
  padding: 20px;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: #FFCE00;
  color: #FFF;
  font-size: 24px;
  cursor: pointer;
}

.music--controls .skip-btn {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: #888;
  font-size: 18px;
}


p {
  font-size: 15px;
  color: white;
}

.skip-btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: solid 1px white;
  
}

.skip-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: solid 1px white;
}

.middle {
  font-size: 12px;
  width: 60px;
  height: 60px;
  border-radius: 80%;
  border: solid 1px white;
  margin: 3px;
}

.play{
  height: 30px;
  width: 30px;
}

.back{
  height: 20px;
  width: 20px;
}

.next{
  height: 20px;
  width: 20px;
}

.sub{
height: 28px;
width: 85px;
margin: 10px;

}

/* button{
  width: 100px;
  height: 50px;
  border-radius: 20%;
} */

.current-song{
  text-decoration: none;
  color: black;
  font-size: 0.8rem;
  margin-left: 20rem;

}

.navigation {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem 0rem;
  background-color: #fff;
  color: black;
  box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
}

.brand-name {
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
  margin-left: 1rem;
}
.nav-bar {
  margin-left: auto;
  padding-bottom: 10px;
}

.nav-bar ul {
  display: flex;
  padding: 0;
}
.nav-bar li {
  /* // removes default disc bullet for li tags and applies margin to left & right side */
  list-style-type: none;
  margin: 0 1rem;
}
.nav-bar li Link {
  /* // increases the surface area of the anchor tag to span more than just the anchor text */
  text-decoration: none;
  display: block;
  width: 100%;
}

.hamburger {
  /* // removes default border on button element */
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: goldenrod;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
/* // positions the icon to the right and center aligns it vertically */
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
}
.hamburger:hover {
  background-color: #2642af;
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .nav-bar ul {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .nav-bar ul {
    /* // navigation menu is positioned to start 60px from the top of the document (which is directly below the navbar) */
    position: absolute;
    top: 60px;
    left: 0;
    /* // stacks the li tags vertically  */
    flex-direction: column;
   /* // makes menu span full height and width */
    width: 100%;
    height: calc(100vh - 77px);
    background-color: white;
    border-top: 1px solid black;
  }
  .nav-bar li {
    /* // centers link text and strips off margin */
    text-align: center;
    margin: 0;
  }
  .nav-bar li a {
    color: black;
    /* // increases the surface area of the anchor tag to span the full width of the menu */
    width: 100%;
    padding: 1.5rem 0;
  }
  .nav-bar li:hover {
    background-color: #eee;
  }
}

@media screen and (max-width: 768px) {
  .nav-bar ul {
    /* previous styles */
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .nav-bar.expanded ul {
    display: block;
  }
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

form input {
  width: 50%;
  align-self: center;
}

form label {
  align-self: center;
  margin-top: 10px;
  color: white;
}

.subscription{
  color: white;
}

.dot-choice{
  display: flex;
  align-self: center;
  /* margin-left: 400px; */
  height: 80px;
  width: 80px;
}

legend{
  color: white;
}

#contactChoice1{
  padding: 5px;
}

#contactChoice2{
  padding: 5px;
}

#contactChoice3{
  padding: 5px;
}

.home {
  display: flex;
  flex-direction: column;
}