body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  font-size: 15px;
}

.left {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: solid 1px black;
}

.right {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: solid 1px black;
}

.middle {
  font-size: 12px;
  width: 60px;
  height: 60px;
  border-radius: 80%;
  border: solid 1px black;
  margin: 3px;
}

.play{
  height: 30px;
  width: 30px;
}

.back{
  height: 15px;
  width: 15px;
}

.next{
  height: 15px;
  width: 15px;
}

/* button{
  width: 100px;
  height: 50px;
  border-radius: 20%;
} */